<launch>
    <param name = "health_status"         value = "/health_status" type = "string" />
    <param name = 'lidar_beat'            value = '/scan' type = "string" />
    <param name = 'seek_beat'             value = '/seek_camera/filteredImage' type = "string" />
    <param name = 'realsense_rgb_beat'    value = '/camera/color/image_raw' type = "string" />
    <param name = 'realsense_depth_beat'  value = '/camera/depth/image_rect_raw' type = "string" />
    <param name = 'transform_imu_beat'    value = '/imu' type = "string" />
    <param name = 'human_beat'            value = '/RelLocHeartbeat' type = "string" />
    <param name = 'detection_beat'        value = '/detections_overlay/rgb' type = "string" />
</launch>
